
:root{
    --sidebar-color: #051E34;
    
}

/* General */
.ms_bg-color-brown{
    background-color: brown;
}
.ms_bg-color-blue{
    background-color: #1B72E8;
}
.ms_debug{
    border: dashed 1px;
    height: 100px;
}


/* Vertical Macro Layout */

.ms_vertical-macro-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.ms_vertical-macro-layout__top{
    background-color: aqua;
    height: 70px;
    flex-shrink: 0;
}

.ms_vertical-macro-layout__bottom{
    flex-grow: 1;
    overflow: hidden;
}

/* Horizontal Macro Layout */

.ms_horizontal-macro-layout{
    display: flex;
    width: 100%;
}

.ms_sidebar{
    width: 68px;
    flex-shrink: 0;
    overflow: hidden;
    border: 1px solid black;
}

@media screen and (min-width:992px) {
    .ms_sidebar {
        width: 150px;

    }

}
/* Header */

.ms_main-header .navbar{
    padding: 15px 0;
}
.ms_main-header .ms_mobile-logo{
    width: 50px;
}
.ms_main-header .ms_desktop-logo{
    width: 100px;
}
/* Sidebar */

.ms_sidebar{
    padding: 74px 19px 0 24px;
}

.ms_sidebar .nav-sidebar{
    display: contents;
}
.ms_sidebar{
    background-color: #051E34;
   
}

.ms_sidebar .nav-link{
    color: white;
}
/* Content header */

.ms_content-header{
    background-color: #1B72E8;
    padding: 25px 12px;
}



.dashboard-content .ms_content-header {
    color: currentColor;
    border: 0;
    padding: 8px;
    border-radius: 0;
}


@media screen and (min-width:576) {

    
}

/* Dashboard content */

.dashboard-content{
    flex-grow: 1;
}