
:root{
    --sidebar-color: #051E34;
    
}

/* General */
.ms_bg-color-brown{
    background-color: brown;
}
.ms_bg-color-blue{
    background-color: #1B72E8;
}
.ms_debug{
    border: dashed 1px;
    height: 100px;
}
.ms_gb-color{
    background-color: rgb(14, 14, 113);
}

/* Vertical Macro Layout */

.ms_vertical-macro-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.ms_vertical-macro-layout__top{
    background-color: aqua;
    height: 70px;
    flex-shrink: 0;
}

.ms_vertical-macro-layout__bottom{
    flex-grow: 1;
    overflow: hidden;
}

/* Horizontal Macro Layout */

.ms_horizontal-macro-layout{
    display: flex;
    width: 100%;
}

.ms_sidebar{
    width: 68px;
    flex-shrink: 0;
    overflow: hidden;
    border: 1px solid black;
}


/* Header */

.ms_main-header .navbar{
    padding: 15px 0;
}
.ms_main-header .ms_mobile-logo{
    max-width: 40px;
}
.ms_main-header .ms_desktop-logo{
    width: 100px;
}
/* Sidebar */

.ms_sidebar{
    padding: 70px 19px 0 9px;
}

.ms_sidebar .ms_nav-sidebar{
    display: contents;
}
.ms_sidebar{
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
   
}
.ms_sidebar .nav-link{
    color: white;
}
.ms_nav-item:hover a{
    background-color: rgba(247, 240, 240, 0.1);
    
}
/* Content header */

.ms_content-header{
    background-color: #1B72E8;
    padding: 25px 12px;
}
/* Dashboard content */

.ms_table-img{
    max-width: 30px;
}
@media screen and (min-width:576) {
   
}

@media screen and (min-width:992px) {
    .ms_sidebar {
        width: 150px;

    }

}

